@import 'base/fonts';
@import 'libs/reboot';
@import 'base/variables';

* {
    font-family: 'Segoe UI', 'sans-serif';
    color: $texcol;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/slider';