@font-face {
    font-family: 'Segoe UI Regular';
    font-display: swap;
    src: url('../../fonts/SegoeUI.eot');
    src: url('../../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/SegoeUI.woff') format('woff'),
    url('../../fonts/SegoeUI.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    font-display: swap;
    src: url('../../fonts/SegoeUI-Bold.eot');
    src: url('../../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/SegoeUI-Bold.woff') format('woff'),
    url('../../fonts/SegoeUI-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}