.card {
    min-height: 200px;
    background-color: #fff;
    flex: 0 1 25%;
    margin-bottom: 44px;
    padding: 0 22px;
    &__wrapper {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        padding: 16px 16px 20px 16px;
        position: relative;
        overflow: hidden;
    }
    &__labels {
        position: absolute;
        top: 16px;
        left: 16px;
        display: flex;
        height: 19px;
        &-item {
            border-radius: 2px;
            padding: 0 4px;
            color: #fff;
            font-weight: 700;
            font-size: 12px;
            margin-right: 4px;
            &:last-child {
                margin-right: 0;
            }
            &_hit {
                background: #FF5E00;
            }
            &_new {
                background: #5F25E0;
            }
        }
    }
    &__img {
        margin-top: 16px;
        min-width: 195px;
        height: 158px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 34px;
        flex-wrap: wrap;
        min-height: 36px;
    }
    &__name {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }
    &__details {
        display: flex;
        flex-wrap: wrap;
    }
    &__category {
        padding: 6px 4px;
        background: #F3F3F3;
        border-radius: 4px;
        display: flex;
        margin-right: 4px;
        align-items: center;
        img {
            margin-right: 4px;
            width: 16px;
            height: 16px;
        }
    }
    &__count {
        margin-right: 4px;
        padding: 1px 4px 3px;
        background: #F3F3F3;
        border-radius: 2px;
        font-size: 10px;
        line-height: 13px;
        align-items: center;
    }
    &__user {
        display: flex;
        padding: 1px 4px 3px;
        background: #F3F3F3;
        border-radius: 2px;
        font-size: 10px;
        line-height: 13px;
        align-items: center;
        margin-right: 2px;
        img {
            width: 8px;
            height: 8px;
        }
    }
    &__descr {
        font-size: 16px;
        line-height: 21px;
        color: #A3A3A3;
        margin-top: 8px;
    }
    &__price {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        &_old {
            margin-top: 16px;
            font-weight: 400;
            text-decoration: line-through;
            font-size: 10px;
            line-height: 13px;
            color: #A3A3A3;
        }
    }
}