.card {
    background-color: #fff;
    flex: 0 1 25%;
    margin-bottom: 44px;
    padding: 0 22px;
    &__wrapper {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        padding: 15.5px 16px 20px 16px;
        position: relative;
        overflow: hidden;
        min-height: 371px;
        transition: all .1s;
        cursor: pointer;
    }
    &__labels {
        position: absolute;
        top: 16px;
        left: 16px;
        display: flex;
        height: 19px;
        &-item {
            border-radius: 2px;
            padding: 0 4px;
            color: #fff;
            font-weight: 700;
            font-size: 12px;
            margin-right: 4px;
            &:last-child {
                margin-right: 0;
            }
            &_hit {
                background: #FF5E00;
            }
            &_new {
                background: #5F25E0;
            }
        }
    }
    &__img {
        margin: 0 auto;
        max-width: 192px;
        max-height: 158px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        flex-wrap: wrap;
        min-height: 18px;
        transition: all .1s;
        &_active {
            margin-top: 18px;
        }
    }
    &__name {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }
    &__details {
        display: flex;
        flex-wrap: wrap;
    }
    &__category {
        padding: 6px 4px;
        background: #F3F3F3;
        border-radius: 4px;
        display: flex;
        margin-right: 4px;
        align-items: center;
        img {
            margin-right: 4px;
            width: 16px;
            height: 16px;
        }
    }
    &__count {
        margin-right: 4px;
        padding: 1px 4px 3px;
        background: #F3F3F3;
        border-radius: 2px;
        font-size: 10px;
        line-height: 13px;
        align-items: center;
    }
    &__user {
        display: flex;
        padding: 1px 18px 3px 4px;
        background: #F3F3F3;
        border-radius: 2px;
        font-size: 10px;
        line-height: 13px;
        align-items: center;
        margin-right: 2px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            background: url('../../icons/user.png') center ( center / cover ) no-repeat;
        }
    }
    &__descr {
        font-size: 16px;
        line-height: 21px;
        color: #A3A3A3;
        margin-top: 8px;
        margin-bottom: 16px;
        transition: all .1s;
        &_active {
            margin-bottom: 0;
        }
    }
    &__price {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        &_old {
            margin-top: 16px;
            font-weight: 400;
            text-decoration: line-through;
            font-size: 10px;
            line-height: 10px;
            color: #A3A3A3;
        }
    }
    &__order {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__button {
        background-color: $yellow;
        font-size: 16px;
        line-height: 21px;
        padding: 8px 43px 11px 43px;
        text-align: center;
        font-weight: 700;
        border: none;
        border-radius: 4px;
        display: none;
    }
    &__weight {
        display: block;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 10px;
        transition: all .3s;
        display: none;
    }
    &__counts {
        background: #F3F3F3;
        border-radius: 4px;
        padding: 3px 3px;
        margin-bottom: 24px;
        display: none;
        &-item {
            width: 50%;
            border-radius: 4px;
            border: none;
            font-size: 16px;
            line-height: 21px;
            padding: 5px 0 8px 0;
            &_active {
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
                background-color: #fff;
            }
        }
    }
    &__wrapper {
        &:hover {
            .card__inner-wrapper {
                position: absolute;
                padding: 0 16px 20px 16px;
                bottom: 0px;
                left: 0;
                width: 100%;
                z-index: 2;
                background-color: rgba(255,255,255,.8);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
            }
            .card__counts {
                display: flex;
            }
            .card__button {
                display: block;
            }
            .card__weight {
                display: block;
            }
        }
    }
}