.cart {
    display: none;
    position: static;
    width: 360px;
    border-radius: 4px;
    background-color: #fff;
    padding: 24px;
    z-index: 100;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
    &_active {
        position: fixed;
        display: block;
    }
    &__row {
        display: flex;
        align-items: center;
    }
    &__col {
        &:nth-child(1) {
            margin-right: 16px;
        }
        &:nth-child(2) {
            margin-right: 68px;
        }
        &:nth-child(3) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__img {
        max-width: 75px;
        max-height: 61px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 4px;
    }
    &__counts {
        font-size: 10px;
        line-height: 13px;
        color: #A3A3A3;
        margin-bottom: 8px;
    }
    &__button {
        background: #FECB24;
        border-radius: 4px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
    &__buttons {
        display: flex;
        align-items: center;
        &-count {
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            margin: 0 16px;
        }
    }
    &__price {
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
    }
    &__remove {
        border: none;
        background-color: transparent;
        margin-bottom: 27px;
    }
}