.header {
    padding-top: 52px;
    .container {
        position: relative;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        padding-right: 60px;
        img {
            display: block;
            max-width: 200px;
            max-height: 60px;
            object-fit: cover;
        }
    }
    &__delivery {
        font-size: 18px;
        line-height: 24px;
        padding-right: 210px;
        span {
            background: $yellow;
            border-radius: 4px;
            padding: 2px 6px;
        }
    }
    &__address{
        display: flex;
        align-items: center;
        padding-right: 43px;
        img {
            width: 16.77px;
            height: 16.77px;
            margin-right: 7px;
        }
        address {
            font-size: 16px;
            line-height: 21.28px;
            margin-bottom: 0;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        padding-right: 22px;
        img {
            width: 17px;
            height: 17px;
            margin-right: 7px;
        }
        a {
            font-size: 16px;
            line-height: 21.28px;
            text-decoration: none;
            color: $texcol;
            &:hover {
                color: $texcol;
            }
        }
    }
    &__auth {
        display: flex;
        align-items: center;
        padding: 14px 16px 14px 20px;
        border: none;
        background-color: transparent;
        font-size: 16px;
        line-height: 21.28px;
        img {
            width: 15.35px;
            height: 16.28px;
            margin-right: 7px;
        }
    }
    &__menu {
        margin-top: 34px;
        &_active {
            position: fixed;
            width: 100%;
            top:0;
            left: 0;
            background-color: #fff;
            z-index:100;
            margin-top: 0;
            padding: 18px 0;
            box-shadow: 0 0 25px 1px rgba(0,0,0,0.3);
        }
    }
    &__list {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        font-size: 16px;
        font-weight: 700;
        color: $texcol;
        text-decoration: none;
        padding: 4px 8px;
        border-radius: 4px;
        &_active {
            background-color: $yellow;
        }
        &:hover {
            color: $texcol;
        }
    }
    &__cart {
        position: relative;
        background-color: $yellow;
        color: $texcol;
        font-size: 16px;
        font-weight: 400;
        border: none;
        padding: 10px 12px 10px 44px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        &:before {
            content: '';
            width: 19px;
            height: 16px;
            background: url('../../icons/cart.png') center ( center / cover ) no-repeat;
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translateY(-50%);

        }
    }
    &__filter {
        position: relative;
        padding: 4px 6px 4px 36px;
        background-color: #F3F3F3;
        display: none;
        &_active {
            display: block;
        }
        &:before {
            content: '';
            position: absolute;
            background: url('../../icons/filter.png') center ( center / cover ) no-repeat;
            width: 13.77px;
            height: 11.64px;
            top: 50%;
            transform: translateY(-50%);
            left: 12.74px;
        }
    }
}