.header {
    padding-top: 52px;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        padding-right: 60px;
        img {
            display: block;
            max-width: 200px;
            max-height: 60px;
            object-fit: cover;
        }
    }
    &__delivery {
        font-size: 18px;
        line-height: 24px;
        padding-right: 210px;
        span {
            background: $yellow;
            border-radius: 4px;
            padding: 2px 6px;
        }
    }
    &__address{
        display: flex;
        align-items: center;
        padding-right: 43px;
        img {
            width: 16.77px;
            height: 16.77px;
            margin-right: 7px;
        }
        address {
            font-size: 16px;
            line-height: 21.28px;
            margin-bottom: 0;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        padding-right: 22px;
        img {
            width: 17px;
            height: 17px;
            margin-right: 7px;
        }
        a {
            font-size: 16px;
            line-height: 21.28px;
            text-decoration: none;
            color: $texcol;
            &:hover {
                color: $texcol;
            }
        }
    }
    &__auth {
        display: flex;
        align-items: center;
        padding: 14px 16px 14px 20px;
        border: none;
        background-color: transparent;
        font-size: 16px;
        line-height: 21.28px;
        img {
            width: 15.35px;
            height: 16.28px;
            margin-right: 7px;
        }
    }
    &__menu {
        margin-top: 34px;
    }
    &__list {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
    }
    &__item {
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        font-size: 16px;
        font-weight: 700;
        color: $texcol;
        text-decoration: none;
        &:hover {
            color: $texcol;
        }
    }
    &__cart {
        background-color: $yellow;
        color: $texcol;
        font-size: 16px;
        font-weight: 400;
        border: none;
        padding: 10px 12px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        img {
            width: 19px;
            height: 16px;
            margin-right: 7px;
        }
    }
}