.popup {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    &_active {
        display: flex;
    }
    &__block {
        position: relative;
        padding: 80px;
        background-color: #fff;
        border-radius: 16px;
    }
    &__close {
        position: absolute;
        top: 0px;
        right: -38px;
        color: #fff;
        font-weight: 400;
        font-size: 45px;
        cursor: pointer;
        line-height: 10px;
    }
    &__row {
        display: flex;
    }
    &__col {
        display: flex;
        flex-direction: column;
        &:first-child {
            width: 47.30%;
            margin-right: 16px;
        }
        &:last-child {
            width: 50.35%;
        }
    }
    &__labels {
        display: flex;
        &-item {
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            color: #FFFFFF;
            padding: 8px 16px;
            border-radius: 4px;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
            &_hit {
                background: #FF5E00;
            }
            &_new {
                background: #5F25E0;
            }
        }
    }
    &__img {
        max-width: 294.25px;
        max-height: 240.61px;
        margin: 0 52px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }
    &__category {
        background: #F3F3F3;
        border-radius: 4px;
        padding: 4px 16px;
    }
    &__name {
        font-weight: bold;
        font-size: 48px;
        line-height: 64px;
        color: $texcol;
    }
    &__descr {
        font-size: 24px;
        line-height: 32px;
        color: #A3A3A3;
        margin-bottom: 0;
    }
    &__weight {
        display: block;
        font-size: 24px;
        line-height: 32px;
        color: #1A1A1A;
        margin-bottom: 24px;
    }
    &__counts {
        display: flex;
        background: #F3F3F3;
        border-radius: 4px;
        padding: 3px 3px;
        margin-bottom: 24px;
        &-item {
            width: 50%;
            border-radius: 4px;
            border: none;
            font-size: 16px;
            line-height: 21px;
            padding: 5px 0 8px 0;
            &_active {
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
                background-color: #fff;
            }
        }
    }
    &__order {
        display: flex;
        justify-content: space-between;
    }
    &__price {
        font-size: 48px;
        line-height: 64px;
        font-weight: 700;
        &_old {
            font-size: 16px;
            line-height: 21px;
            text-decoration-line: line-through;
            color: #A3A3A3;
        }
    }
    &__button {
        background: $yellow;
        padding: 8px 48px 11px 48px;
        border: none;
        border-radius: 4px;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        font-weight: 700;
    }
}