.showcase {
    padding: 48px 0 140px 0;
    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 85px;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -22px;
        margin-top: 48px;
    }
}