.slider {
    position: relative;
    overflow: hidden;
    &__wrapper {
        display: flex;
        padding: 34px 0 30px 0;
    }
    &__slide {
        position: relative;
        width: 1180px;
        height: 400px;
        margin: 0 auto;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.16));
        border-radius: 16px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
            border-radius: 16px;
        }
    }
    &__dotts {
        position: absolute;
        display: flex;
        z-index: 10;
    }
}

.swiper-pagination-bullets {
    width: auto !important;
    left: 50% !important;
    transform: translateX(-50%);
    bottom: 50px !important;
    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        opacity: 1;
        background-color: rgba(255,255,255,0.6);
        border-radius: 100%;
        cursor: pointer;
        margin: 0 !important;
        margin-right: 24px !important;
        &-active {
            background-color: rgba(255,255,255,1);
        }
    }
}
